@page
@{
}
<title>Terms of Service</title>

<div>

    <br />
    <br />
    <a href="/" style="justify-content:left;font-size:20px;"> ← Back to home </a>
    <br />

    <p style="margin-bottom: 0in; line-height: 100%; page-break-before: always" align="center">
        <br>

    </p>

    <p class="western" style="margin-bottom: 0in; line-height: 100%;text-align:center;">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 14pt" size="4">
                        <b>
                            Terms of Service
                        </b>
                    </font>
                </font>
            </font>
        </font>
    </p>


    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>


    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000"><font face="Arial, serif"><font style="font-size: 11pt" size="3"></font></font></font><font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        These Website Standard Terms and Conditions of Service written on this webpage shall manage your use of our website, www.WeFeast.io, accessible at www.WeFeast.io
                        These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.
                    </font>
                </font>
            </font>
        </font>
    </p>

    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>

    @* I. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        I.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        INTELLECTUAL PROPERTY RIGHTS
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        Other than the content you own, under these Terms, WeFeast.io and/or its licensors own all the intellectual property rights and materials contained in this Website.
                        You are granted limited license only for purposes of viewing the material contained on this Website.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>




    @* II. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        II.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        RESTRICTIONS
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        You are specifically restricted from all of the following:
                        <ul>
                            <li>publishing any Website material in any other media;</li>
                            <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                            <li>publicly performing and/or showing any Website material;</li>
                            <li>using this Website in any way that is or may be damaging to this Website;</li>
                            <li>using this Website in any way that impacts user access to this Website;</li>
                            <li>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;</li>
                            <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</li>
                            <li>using this Website to engage in any advertising or marketing.</li>
                        </ul>
                        Certain areas of this Website are restricted from being access by you and WeFeast.io may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.
                        Minors or people below 13 years old are not allowed to use this Website.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* III. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        III.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        YOUR CONTENT
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        In these Website Standard Terms and Conditions of Service, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant WeFeast.io a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
                        Your Content must be your own and must not be invading any third-party's rights. WeFeast.io reserves the right to remove any of Your Content from this Website at any time without notice.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>

    @* IV. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        IV.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        NO WARRANTIES
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        This Website is provided “as is,” with all faults, and WeFeast.io express no representations or warranties,
                        of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* V. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        V.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        LIMITATION OF LIABILITY
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        In no event shall WeFeast.io, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such
                        liability is under contract.  WeFeast.io, including its officers, directors
                        and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* VI. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        VI.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        INDEMNIFICATION
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        You hereby indemnify to the fullest extent WeFeast.io from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising
                        in any way related to your breach of any of the provisions of these Terms.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* VII. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        VII.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        SEVERABILITY
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        If any provision of these Terms is found to be invalid under any applicable law, such provisions
                        shall be deleted without affecting the remaining provisions herein.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* VIII. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        VIII.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        VARIATIONS OF TERMS
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        WeFeast.io is permitted to revise these Terms at any time as it sees fit, and by using
                        this Website you are expected to review these Terms on a regular basis.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* IX. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        IX.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ASSIGNMENT
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        WeFeast.io is allowed to assign, transfer, and subcontract its rights and/or obligations under these
                        Terms without any notification. However, you are not allowed to assign, transfer, or
                        subcontract any of your rights and/or obligations under these Terms.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>



    @* X. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        X.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ENTIRE AGREEMENT
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        These Terms constitute the entire agreement between WeFeast.io and you in relation to
                        your use of this Website, and supersede all prior agreements and understandings.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>




    @* XI. *@
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        XI.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        GOVERNMENT LAW AND JURISDICTION
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        These Terms will be governed by and interpreted in accordance with the laws of the State of
                        Country, and you submit to the non-exclusive jurisdiction of the
                        state and federal courts located in Country for the resolution of any disputes.
                    </font>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <font face="Times New Roman, serif">
            <font color="#000000">
                <font face="Arial, serif">
                    <font style="font-size: 11pt" size="3">
                        Last
                        Updated: This Terms of Service was last updated on [
                    </font>
                </font>
            </font><font color="#000000"><font face="Arial, serif"><font style="font-size: 11pt" size="3">March 2021</font></font></font><font color="#000000"><font face="Arial, serif"><font style="font-size: 11pt" size="3"> ].</font></font></font>
        </font>
    </p>
    <p style="margin-bottom: 0in; line-height: 200%">
        <br>

    </p>

</div>